/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------Main CSS----------*/
body {
  font-family: "Kdam Thmor Pro", sans-serif;
  background-color: rgb(237, 235, 235);
}

button {
  font-family: "Kdam Thmor Pro", sans-serif;
}

button:hover {
  cursor: pointer;
  opacity: 75%;
}

.top {
  background-color: rgb(131, 131, 131);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 2px 5px;
}

.top h1 {
  font-size: 2rem;
  color: white;
  text-shadow: black 2px 2px 3px;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  gap: 5px;
}

.input-box input,
.input-box button {
  /* border: none; */
  border-radius: 5px;
  height: 18px;
}

.input-box button {
  border: none;
  border-radius: 5px;
  height: 18px;
  /* font-size: 1rem; */
}
.input-box button:hover {
  opacity: 50%;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.book-updated {
  display: grid;
  align-items: center;
  background-color: white;
  height: 300px;
  width: inherit;
  text-align: center;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px;
}

.read-remove-button {
  display: grid;
  gap: 5px;
  height: 100%;
}

/* #read,
#remove:hover {
  cursor: pointer;
} */

#read {
  background-color: rgb(85, 173, 85);
  border-radius: 10px;
  border: none;
}
/* #read:hover {
  background-color: rgba(85, 173, 85, 0.75);
} */

#remove {
  background-color: rgb(203, 92, 92);
  border-radius: 10px;
  border: none;
}
/* #remove:hover {
  background-color: rgb(203, 92, 92, 0.75);
} */

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: var(--spacing-sm);
}
